<h2>Billeasy Signup</h2>
<br>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" ng-submit="login()" role="form">
    <div class="form-group" style="float:left; width:16m; padding-right:1em;">
        <label for="given_name">First Name</label>

        <input type="text" name="given_name" id="given_name" class="form-control" style="width:15em;" ng-model="given_name" required />
        <span ng-show="form.given_name.$dirty && form.given_name.$error.required" class="help-block">First name is required</span>
    </div>

    <div class="form-group" style="float:left; width:13em; padding-right:1em;">
        <label for="middle_name">Middle Name</label>

        <input type="text" name="middle_name" id="middle_name" class="form-control" style="width:12em;" ng-model="middle_name" required />
        <span ng-show="form.middle_name.$dirty && form.middle_name.$error.required" class="help-block">Middle name is required</span>
    </div>

    <div class="form-group">
        <label for="surname">Last Name</label>

        <input type="text" name="surname" id="surname" class="form-control" style="width:12em;" ng-model="surname" required />
        <span ng-show="form.surname.$dirty && form.surname.$error.required" class="help-block">Surname is required</span>
    </div>
    
    <div class="form-group" style="clear:left;">
        <label for="address">Address</label>

        <input type="text" name="address" id="address" class="form-control" ng-model="address" required />
        <span ng-show="form.address.$dirty && form.address.$error.required" class="help-block">Address is required</span>
    </div>

    <div class="form-group" style="clear:left;">
        <label for="contact_number">Telephone/Mobile</label>

        <input type="text" name="contact_number" id="contact_number" class="form-control" ng-model="contact_number" required />
        <span ng-show="form.contact_number.$dirty && form.contact_number.$error.required" class="help-block">Telephone/mobile is required</span>
    </div>

    <div class="form-group" style="clear:left;">
        <label for="email">Email address</label>

        <input type="text" name="email" id="email" class="form-control" ng-model="email" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
    </div>

    <div class="form-group">
        <label for="username">Username for Billeasy</label>

        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>

        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
	
	<div id="recaptcha"></div>
	<br>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Sign up for Billeasy</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
   </div>
</form>