<h2>Hello, {{name}}!</h2>
<h3 ng-show="bills.length==0">You have no pending bills.</h3>
<h3 ng-show="bills.length>0">Your unpaid bills are:</h3>

<ul ng-repeat="account in accounts | filter:{last_due_date:'!None'} track by $index">
    {{account.custom_name}}: <b>{{account.current_balance}} due on {{account.last_due_date}}</b>
</ul>

<ul ng-repeat="account in accounts | filter:{last_due_date:'None'} track by $index">
    {{account.custom_name}}: <b>(no pending bills)</b>
</ul>

<br>
<a href='' ng-click="goto_history()"><h4>View bill details</h4></a>
<br>
<a href='' ng-click="goto_enrollment()"><h4>Manage accounts</h4></a>
<br>
<a href='' ng-click="logout()"><h4>Logout</h4></a>